latex/main.aux
latex/main.bbl
latex/main.blg
latex/main.fdb_latexmk
latex/main.fls
latex/main.lof
latex/main.log
latex/main.lot
latex/main.out
latex/main.synctex.gz
latex/main.toc
latex/main.pdf
.DS_Store
latex/Files/1-introduction.aux
latex/Files/2-overalldescription.tex.aux
latex/Files/3-specificrequirements.tex.aux
latex/Files/4-formalanalysisusingalloy.tex.aux
latex/Files/5-effortspent.tex.aux
latex/debug.log
latex/main.synctex(busy)
