latex/main.aux
latex/main.bbl
latex/main.blg
latex/main.fdb_latexmk
latex/main.fls
latex/main.lof
latex/main.log
latex/main.lot
latex/main.out
latex/main.synctex.gz
latex/main.toc
latex/main.pdf
.DS_Store
