*{
    border: 1px solid red;
}

*{
    font-family: 'Roboto', sans-serif;
}

.flexColumnCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexRowCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flexRowStart{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}


.displayNone{
    display: none;
}


/* GENERAL VERI BAD CSS FOR TEMPLATING THE APP... */

button{
    margin: 0 auto 3vh auto;
    padding: 0.8em 1.1em;
    width: 30vw;
    border-radius: 13px;
    border: 0px;
    color: white;
    background-color: #EB1E4E;

    font-size: 1em;
}

.card{
    margin: 2vh 3vw;
    background-color: #EBEBEB;
    padding: 2vh 8vw;
    border-radius: 30px;
}

.cardWhite{
    margin: 2vh 3vw;
    background-color: white;
    padding: 2vh 8vw;
    border-radius: 30px;
}

.clickable{
    border:2px solid #EB1E4E;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
}

.simpleTitle{
    padding: 1vh;
    font-weight: bolder;
}