*{
    border: 1px solid red;
}

*{
    font-family: 'Roboto', sans-serif;
}

.flexColumnCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .transitionFade-enter{
    opacity: 0.01;
}
.transitionFade-enter-active{
    opacity:1;
    transition: all 300ms ease-in;
}
.transitionFade-exit{
    opacity: 1;
}
.transitionFade-exit-active{
    opacity: 0.01;
    transition: all 300ms ease-in;
} */