.errorBackground{
    z-index: 100;
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#000000a1;
}

.error{
    position: fixed;
    top: 20vh;
    bottom: 20vh;
    left: 10vw;
    right: 10vw;
    background-color: white;
}